{% extends 'layouts/base.html' %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<div class="container ">
    <div class="row">
        <div class="d-flex flex-column justify-content-center p-4">
            <h2 class="text-lg-center">About me section</h2>
            <p class="text-lg-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi fuga libero et iure
                aut asperiores
                incidunt consequatur nulla inventore optio quia, laborum esse eos, ut voluptate aperiam recusandae
                numquam eum.</p>
        </div>
    </div>
</div>
{% endblock %}