{% extends 'layouts/base.html' %}

{% block content %}
<!-- Header-->
<!-- <header class="bg-dark py-5"> -->
<header class="bg-image py-5"
    style="background-image: url('https://t3.ftcdn.net/jpg/05/55/50/00/360_F_555500047_QPKhZsvIRHqvX39DTk7NjOnHb71rRSC7.jpg')">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder text-black">Shop in style</h1>
            <p class="lead fw-normal text-black mb-0">With this shop hompeage template</p>
        </div>
    </div>
</header>
<div class="container ">
    <div class="row">
        <div class="d-flex flex-column justify-content-center p-4">
            <h2 class="text-lg-center">About me section</h2>
            <p class="text-lg-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi fuga libero et iure
                aut asperiores
                incidunt consequatur nulla inventore optio quia, laborum esse eos, ut voluptate aperiam recusandae
                numquam eum.</p>
        </div>
    </div>
</div>
{% endblock %}